.container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}

.container_form {
    display: flex;
    flex-direction: column;
}

.find_title {
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
}

.find_input {
    margin-bottom: 20px;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid grey;
}

.find_input:active,
.find_input:focus {
    border: 1px  rgb(167, 167, 229);
}